@charset "utf-8";

body {overflow-x: hidden; color: #000; font-size: 1.6rem; font-family: "Barlow", "pretendard", sans-serif;}
.inner {max-width: 1640px; padding: 0 20px; margin: 0 auto;}

/* header */
#header {z-index: 2; position: absolute; left: 0; top: 0; width: 100%; padding-top: 20px;}

#header .inner {display: flex; justify-content: space-between; align-items: center;}
#header .inner img {width: 120px;}


#header .gnb {display: flex;}
#header .gnb > li  {position: relative;}
#header .gnb > li > a {display: block; font-size: 2rem; padding: 10px 40px;}

#header .gnb > li .depth2 {display: none; color: #fff; background: #000; width: 150px; position: absolute; left: 20px; padding: 25px 20px;}

#header .gnb > li .depth2 li a { display: block; padding: 5px 0; font-size: 1.5rem; text-transform: uppercase;}
#header .ham {width: 30px; height: 30px; font-size: 0; background: url(../images/ham.svg) no-repeat; cursor: pointer; display: none; }

/* 모바일 메뉴 */
.mgnb_wrap {position: fixed; left: 100%; top: 0; width: 100%; height: 100%; background: #000; padding: 80px 20px;}

.mgnb_wrap .mgnb {border-top: solid 1px rgba(255, 255, 255, 0.5);}

.mgnb_wrap .mgnb > li {border-bottom: solid 1px #ccc; font-size: 2.5rem; padding: 20px;}

/* 링크 방지 */
.mgnb_wrap .mgnb > li > a {pointer-events: none; color: #fff; font-size: 2rem; display: block; padding: 10px 0;}
.mgnb_wrap .mgnb > li .mdepth2 { display: none; padding-left: 20px; font-size: 1.6rem;}
.mgnb_wrap .mgnb > li .mdepth2 li a {display: block; padding: 3px 0; color: #666;}

.mgnb_wrap .mgnb_close {width: 30px; height: 30px; font-size: 0; background: url(../images/close.png) no-repeat center center; cursor: pointer; position: absolute; right: 20px; top: 30px;}

@media (max-width:1024px) {
  #header .ham {display: block;}
  #header .gnb {display: none;}
}

@media (max-width:576px) {
  #header h1 img {width: 140px;}
}

/* banner */
.banner .swiper-slide {position: relative;}
.banner .banner_txt {position: absolute; right: 26.0416vw; bottom: 8.85416vw;}

.banner .banner_txt p {font-size: 2.5rem; padding-bottom: 15px;}
.banner .banner_txt h2 {font-size: 5rem; padding-bottom: 40px;}
.btn_more a {display: inline-block; color: #fff; background: #ce0e2d; padding: 20px 40px; font-size: 2rem;  text-align: center; text-transform: uppercase;}


.banner .banner1 {background: url(../images/banner1.jpg) no-repeat center center / cover; height: 100vh;}
.banner .banner2 {background: url(../images/banner2.jpg) no-repeat center center / cover; height: 100vh;}
.banner .banner3 {background: url(../images/banner3.jpg) no-repeat center center / cover; height: 100vh;}

.banner .swiper-button-prev {color: #000;}
.banner .swiper-button-next {color: #000;}

.banner .swiper-pagination {left: 50%; transform: translateX(-50%); height: 2px; width: 90%; top: auto; bottom: 5.20833vw; }
.banner .swiper-pagination-progressbar-fill {background: #000;}

@media (max-width:1200px) {
  .banner .banner_txt h2 {font-size: 4rem; }
  .banner .banner_txt p {font-size: 2rem; } 
  .banner .banner_txt {left: 3vw; bottom: 8.85416vw;}
  
}

@media (max-width:700px) {
  .banner .banner_txt h2 {font-size: 3.5rem;}
  .banner .banner_txt p {font-size: 1.5rem;} 
  .banner .swiper-button-prev {display: none;}
.banner .swiper-button-next {display: none;}
.banner .banner1 {height: 100vh; background: url(../images/banner1_mo.jpg) no-repeat center center / cover;}
.banner .banner2 {height: 100vh; background: url(../images/banner2_mo.jpg) no-repeat center center / cover;}
.banner .banner3 {height: 100vh; background: url(../images/banner3_mo.jpg) no-repeat center center / cover;}

}

.banner_txt h2 {font-family: "pretendard", sans-serif; color: #000; font-weight: 700;}
section h2 {font-family: "Gloock", serif; font-size: 7rem; color: #ce0e2d; text-transform: capitalize; font-weight: 500;}
section span {font-size: 2rem; font-weight: 500;}

.prd {margin: 200px 0; text-align: center;}
.prd .swiper {margin-top: 50px;}
.prd .swiper-slide {transition: transform 0.5s; transform: scale(0.8);}
.prd .swiper-slide-active {transform: scale(1);}
.prd .swiper-slide img {width: 100%; background: linear-gradient(#f8efe7, #fefdfb);}

@media (max-width:1200px) {
  section h2 {font-size: 5.5rem;}
 .btn_more a {font-size: 1.5rem; padding: 20px 40px;}

}

@media (max-width:700px) {
 section h2 {font-size: 4rem;}
 .btn_more a {font-size: 1.3rem; padding: 20px 30px;}
}


/* store */
.store .inner {display: flex; flex-wrap: wrap; gap: 2.60416vw; margin-top: 70px; align-items: center;}
.store h2 {text-align: center; }

.store .store_video {width: 65%;}
.store .store_video video {width: 100%;}

.store .store_txt {width: calc(35% -  2.60416vw); text-align: center; }
.store .store_txt img {width: 100%;}

.store .store_txt h3 {padding-top: 30px; font-size: 2.5rem; font-family: "Gloock", serif; font-weight: 200;}
.store .store_txt p {font-size: 2rem; color: #999; margin: 20px 0;}

@media (max-width:1400px) {
  .store .store_video {width: 100%;}
  .store .store_txt {width: 100%; text-align: center;}
}

/* sns */
.sns {margin: 200px 0;}
.sns .inner {display: flex; flex-wrap: wrap; position: relative;}

.sns .sns_txt {width: 400px; position: sticky; top: 0; height: 200px;}
.sns .sns_txt p {color: #999; font-size: 2rem; padding-top: 10px;}

.sns .sns_list {width: calc(100% - 400px); display: flex; gap: 30px;}
.sns .sns_list > div {width: calc((100% - 60px) / 3);}
.sns .sns_list img {width: 100%;}

.sns .sns_list .sns_item dl {padding: 30px 0; color: #999; margin-bottom: 100px;}
.sns .sns_list .sns_item dl dt {font-size: 2rem; font-weight: 700; color: #000; padding-bottom: 10px;}

.sns .btn_more {text-align: center;}


@media(max-width:1400px) {
  .sns .sns_txt {width: 100%; position: static; text-align: center;}
  .sns .sns_list {width: 100%;}
}

@media(max-width:1000px) {
  .sns .sns_txt {height: auto; padding-bottom: 20px;}
  .sns .sns_list > div {width: calc((100% - 30px) / 2);}
  .sns .sns_list > div:nth-child(3) {display: none;}
  .sns .sns_list .sns_item dl { margin-bottom: 50px;}
}

@media(max-width:576px) {
  .sns .sns_list > div {width:100%;}
  .sns .sns_list > div:nth-child(2) {display: none;}
  .sns .sns_list .sns_item dl { margin-bottom: 30px;}
}

/* footer */
#footer {background: #000; color: #fff; padding: 100px 0;}
#footer .footer_top {display: flex; flex-wrap: wrap; gap: 20px 140px; justify-content: space-between;}
#footer .footer_top .top_link {font-size: 2rem;}

#footer .center dt {font-size: 3rem; font-weight: 700; padding-top: 10px;}

#footer .footer_service strong {font-size: 3rem; }
#footer .footer_service span {display: block; padding-top: 5px;}
#footer .footer_sns ul {display: flex; flex-wrap: wrap; gap: 15px;}

#footer .footer_bottom {opacity: 0.5; font-weight: 2rem; border-top: 1px solid rgba(255, 255, 255, 0.5); padding-top: 50px; margin-top: 50px;}
#footer .footer_bottom address {margin: 20px 0;}
#footer .footer_link {display: flex; flex-wrap: wrap; gap: 15px;}

@media (max-width:768px) {
  #footer {padding: 50px 0;}
}

